[Unit]
Description=LinuxGSM {{ gameserver }} Server
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User={{ linuxgsm_user }}
WorkingDirectory={{ linuxgsm_home }}
ExecStart={{ linuxgsm_home }}/{{ gameserver }} start
ExecStop={{ linuxgsm_home }}/{{ gameserver }} stop
Restart=no
RemainAfterExit=yes   #Assume that the service is running after main process exits with code 0

[Install]
WantedBy=multi-user.target
