[Unit]
Description=LinuxGSM {{ gameserver }} Server
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User={{ gameserver_user }}
WorkingDirectory={{ gameserver_home }}
ExecStart={{ gameserver_home }}/{{ gameserver }} start
ExecStop={{ gameserver_home }}/{{ gameserver }} stop
Restart=no
#Assume that the service is running after main process exits with code 0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
